/.idea
/warzone/.settings/
/warzone/.project
/warzone/.classpath
/warzone/.factorypath
/warzone/.vscode
/warzone/.tmp
**/nbproject/private
**/www/

/warzone/nb-configuration.xml
/warzone/target/
/warzone/tmpl.iml

/.metadata/
